<div>
  <img src="<%= current_user.dig(:info, :image) %>" class="img-thumbnail" alt="profile picture">
  <h2><%= current_user.dig(:info, :nickname) %></h2>
  <pre><%= JSON.pretty_generate(current_user.dig(:extra, :raw_info)) %></pre>
  <%= button_to 'Logout', logout_path, method: :get, class: 'btn btn-danger' %>
</div>