<div>
  <img src="<%= Current.user.image %>" class="img rounded" alt="profile picture">
  <h2><%= Current.user.nickname %></h2>
  <%= button_to 'Logout', logout_path, method: :get, class: 'btn btn-danger' %>
</div>