<h1>Subs</h1>

<p>Welcome to Subs. Track recurring subscriptions and bills.</p>
<ul>
  <li>Bill reminders</li>
  <li>Remember when to cancel a subscription</li>
  <li>What's your average monthly expense?</li>
  <li>What's your average annual expense?</li>
</ul>